<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->

    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "layout.css" %>
    <%= javascript_include_tag "site" %>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  </head>
  <body class="<%= page_classes %>">



<header class="main-header main-header-2 main-header-3">

  <%= current_page.data.title %>

  	</header>

    <div class = 'main-nav' id="navbar">
      <div id = "home"><a href="../../../index.html">Home</a></div>
      <div><a href="pages/past_quarters.html">Past Quarters</a></div>
      <div><a href="#key-concepts-divider">Key concepts</a></div>
      <div><a href="pages/current_unit/current_units.html">Current Units </a></div>
    </div>




    <%= current_page.data.author %>
    <%= yield %>


    	<footer class="main-footer">
    		<div class="footer-inner">
          <span>&copy; Tyler Morrison Aurora Central High School.</span>
    		</div>
    	</footer>

  </body>
</html>
